[mysqld]
bind-address = 0.0.0.0
default-authentication-plugin = mysql_native_password

# Разрешить подключения с любых хостов
skip-name-resolve = 0

# Настройки безопасности
max_connections = 200
max_connect_errors = 1000
